repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: local
    hooks:
      - id: guardrails-and-coverage
        name: Guardrails and Coverage
        entry: bash -c 'make guardrails && make be-coverage'
        language: system
        pass_filenames: false
        always_run: true
        stages: [commit]
